
.photoModel {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: rgb(32, 32, 32);
    border: 1px solid rgba(0, 0, 0, 0.318);
    z-index: 100;
    transition: transform 1s ease-in-out, opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}


.photoModel.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    width: fit-content;
    max-width: 500px;
    z-index: 200;
    pointer-events: auto;
    padding: 5px 15px 15px 15px;
    box-shadow:  0 0 6px rgba(188, 188, 188, 0.527);
    border: 1px solid rgba(169, 169, 169, 0.67);
    border-radius: 6px;
}

.modalPhoto {
    object-fit: scale-down;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(169, 169, 169, 0.288);
}

.modalPhotoDiv {
    width: fit-content;
}

.closeButtonPhotoDiv {
    display: flex;
    justify-content: flex-end;
}

.closeButtonPhoto {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    margin: 0 0 5px 0;
}

.closeButtonPhoto:hover {
    color: rgb(149, 149, 253);
}

.modalPhotoLoading {
    object-fit: scale-down;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(169, 169, 169, 0.288);
    opacity: .3;
}
